@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  background: #eee;
}

.bg {
  background: #fff;
  width: 900px;
  height: 500px;
  margin-left: 300px;
  margin-top: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.bg h1 {
  font-size: 60px;
  padding-left: 60px;
  padding-top: 250px;
  font-family: "poppins";
}
.tick {
  position: absolute;
  top: 220px;
  left: 630px;
}

.back {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-left: 650px;
  font-family: "poppins";
  /* margin-top: -500px; */
  position: absolute;
  top: 650px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #54b435;
  color: #000;
  font-weight: 800;
}

.back a {
  color: #000;
  text-decoration: none;
}

.back:hover {
  background-color: #98d484;
  color: rgb(161, 161, 161);
}
.back-2 {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-left: 450px;
  font-family: "poppins";
  /* margin-top: -500px; */
  position: absolute;
  top: 650px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #54b435;
  color: #000;
  /* padding: 10px; */
  font-weight: 800;
}

.back-2 a {
  color: #000;
  text-decoration: none;
}

.back-2:hover {
  background-color: #98d484;
  color: rgb(161, 161, 161);
}
