@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

button{
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

.movie-container {
  margin: 20px 0;
}

.movie-container h2{
  color: #fff;
}



.movie-container select {
  background-color: #f9004d;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
}


body .time{
  font-size: 20px;
  color: #fff;
}
.container {
  perspective: 1000px;
  margin-bottom: 30px;
  background-image: url(../images/mahindra-xylo-interior-top-view\(1\).jpg);
  background-position: center;
  object-fit: cover;
  object-position: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  /* margin-top: 0px; */
  padding: 90px;
}

.seat {
  background-color: #444451;
  height: 36px;
  width: 42px;
  margin: 3px;
  margin-top: 120px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.seat.sold {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 400px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  margin-top: -80px;
  padding: 20px;
}
.showcase li small {
  margin-left: 2px;
  margin-left: -50px;
}

.row {
  display: flex;
  align-items: center;
justify-content: center;
gap: 10px;
z-index: 2;
}

.count{
  background-color: #fff;
  width: 500px;
  height: 100px;
}


p.text{
    margin: 5px 0;
    position: absolute;
    top: 500px;
    left: 1050px;
    font-weight: 800;
    word-spacing: 1px;
    letter-spacing: 1px;
}

p{
  font-size: 25px;
}



h3{
  position: absolute;
  left: 100px;
  top: 470px;
  font-size: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
#time_slot{
  position: absolute;
  left: 150px;
  top: 520px;
  font-size: 50px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #f9004d;
}

p  a{
  margin-top: 20px;
  margin-left: -40px;
  font-size: 26px;
  color: #fff;
  background-color: #f9004d;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  border-radius: 10px;
}
p  a:hover{
  color: #d1d1d1;
  background-color: #b9003b;
  
}

p.text span{
    color:#f9004d;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
    margin-left: 150px;
    font-size: 80px;
}

div select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #e1e2e8;
    outline: none;
    border-radius: 4px;
    font-size: 24px;
  
  }
  
div  select:hover {
    box-shadow: 0 0 0 2px  #a0bbff;
  }

 