@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
    --red: #f9004d;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  /* =============== Navigation ================ */
  .navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--red);
    border-left: 10px solid var(--red);
    transition: 0.5s;
    overflow: hidden;
  }
  .navigation.active {
    width: 80px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
   .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  } 
  
   .navigation ul li:hover,
  .navigation ul li.hovered {
    background-color: var(--white);
  } 
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
 
    text-decoration: none;
    color: var(--white);
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--red);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }
  .navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    color: #343a40;
    /* line-height: 1; */
    display: flex;
    
    /* justify-content: center; */
  }
  
  table {
    width: 1010px;
    margin-top: 100px;
    font-size: 18px;
    border-collapse: collapse;
    margin-left: 400px;
  }
  
  td,
  th {
    padding: 16px 24px;
    text-align: left;
  }
  
  thead tr {
    background-color: #f9004d;
    color: #fff;
  }
  
  thead th {
    width: 25%;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e9ecef;
  }
  
 #company{
    position: relative;
    top: 165px;
    width: 200px;
    height: 40px;
    right: 755px;
    padding: 10px;
}