body{
  /* margin-top:20px; */
  /* background-color:#f2f6fc; */
  background-image: url(../images/Untitled.jpeg);
  background-color: rgba(112, 112, 112, 0.78);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color:#69707a;
  margin-left: 400px;
  }


  .img-account-profile {
      height: 10rem;
  }
  .rounded-circle {
      border-radius: 50% !important;
  }
  .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
      border: #000;
  }
  .card .card-header {
      font-weight: 500;
      color: #f9004d;
      background-color: #000;
      font-size: 28px;
  }
  .card-header:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
  }

  .btn_save{
    background-color: #8de02c;
    color: #000;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin-left: 490px;
  }

  .btn_save:hover{
    background-color: #65a11f;
color: #fff;
  }

  .btn_delete{
    background-color: #f00	;
    color: #000;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 35px;
  }

  .btn_delete:hover{
    background-color:rgb(189, 0, 0)	;
color: #fff;
  }
  .card-header {
      padding: 1rem 1.35rem;
      margin-bottom: 0;
      background-color: rgba(33, 40, 50, 0.03);
      border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .form-control, .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      color: #69707a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c5ccd6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .nav-borders .nav-link.active {
      color: #0061f2;
      border-bottom-color: #0061f2;
  }
  .nav-borders .nav-link {
      color: #69707a;
      border-bottom-width: 0.125rem;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
      border-radius:0px 20px 20px 0px;
  
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f9004d;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #b10038da;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  